YOUTUBE_COOKIE_JAR=''
YOUTUBE_MUSIC_COOKIE_JAR=''
SPOTIFY_COOKIE_JAR=''
SOUNDCLOUD_COOKIE_JAR=''
AMAZON_MUSIC_COOKIE_JAR=''
APPLE_MUSIC_COOKIE_JAR=''
JNOVEL_COOKIE_JAR=''
INSTRAGRAM_COOKIE_JAR=''
GOOGLE_TRANSLATE_COOKIE_JAR=''
APPLICATION_ID="" # Supabase
PUBLIC_KEY="" # Supabase
CLIENT_ID="" # Supabase
CLIENT_SECRET="" # Supabase
TOKEN="" # Supabase