import type { ElectronAPI } from "@electron-toolkit/preload";
__IMPORT_NATIVE_MODULES__

export interface ElectronPreloadContext {
__LOAD_PRELOAD_TYPE_MODULES__
};
export type ElectronWindow = typeof Window & {
	electron: ElectronAPI;
	context: ElectronPreloadContext;
};